@font-face {
  font-weight: 400;
  font-family: 'Klavika';
  src: url('../fonts/Klavika-Regular.woff') format('woff'), url('../fonts/klavika-regular.woff2') format('woff2');
}
@font-face {
  font-weight: 700;
  font-family: 'Klavika';
  src: url('../fonts/klavika-bold.woff') format('woff'), url('../fonts/klavika-bold.woff2') format('woff');
}
